<h2>Listagem</h2>
<div class="table-responsive">
  <table class="table table-bordered table-sm">
    <thead class="thead-dark">
      <tr class="text-center">
        <th>Data do Lançamento</th>
        <th>Descrição</th>
        <th>Número</th>
        <th>Situação</th>
        <th>Data de confirmação</th>
        <th>Dados bancários</th>
        <th>Valor final</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lancamento of lancamentos; let lancamento = index">
        <td class="text-center">
          <small>{{lancamento.dataLancamento}}</small>
        </td>
        <td class="text-center">
          <small>{{lancamento.descricao}}</small>
        </td>
        <td class="text-center">
          <small>{{lancamento.numero}}</small>
        </td>
        <td class="text-center">
          <small>{{lancamento.situacao}}</small>
        </td>
        <td class="text-center">
          <small>{{lancamento.dataConfirmacao}}</small>
        </td>
        <td class="text-center">
          <small>{{lancamento.dadosBancarios}}</small>
        </td>
        <td class="text-right">
          <small>{{lancamento.valorFinal | currency: 'R$ '}}</small>
        </td>
      </tr>
    </tbody>
  </table>
</div>
